name: Slack Alert

on:
  workflow_call:
    inputs:
      webhook-url:
        required: true
        type: string
      reviewer:
        required: true
        type: string
      property_name:
        required: true
        type: string
      rating:
        required: true
        type: string
      review_text:
        required: true
        type: string

jobs:
  send_slack:
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack message
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook-url: ${{ inputs.webhook-url }}
          text: |
            Review by ${{ inputs.reviewer }} for ${{ inputs.property_name }}:
            Rating: ${{ inputs.rating }}
            Comments: ${{ inputs.review_text }}
